/** .gwt-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  color:green;
  cursor: pointer;
  cursor: hand;
  background: url("images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
}

Can't seem to get the file upload button green.
.gwt-FileUpload {
  color:green;
}
*/


.gwt-MenuItem-disabled  {
	background: #888;
}
