{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'iCing/css/iCing.css' %}" />
    {% block css %}{% endblock css %}
    {% block scripts %}{% endblock scripts %}

    <title>iCing: a web interface to CING</title>
</head>
<body>
<header>
    <img id="headerPic" src={% static "iCing/images/cing.png" %} />
    <div class="headerText">
        iCing
        <div class="headerSmallText">
            Validation of NMR structures
        </div>
    </div>
</header>

<div id="nav">
    <a href="home.html" class="navOption" title="iCing">iCing</a>
    <a href={% url "upload" %}  class="navOption" title="Upload">Upload</a>
{#    <a href="edit.html" class="navOption" title="Edit">Edit</a>#}
{#    <a href="run.html" class="navOption" title="Run">Run</a>#}
{#    <a href="view.html" class="navOption" title="View">View</a>#}
    <a href="help.html" class="navOption navHelp" title="Help">Help</a>
</div>

{% block body_block %}{% endblock %}

<p>
Feel free to contact:
T.J. Ragan            <a href="mailto:tjr22@le.ac.uk">      <img src="{%  static 'iCing/images/icon_email.gif' %}" border="0/"></a>,
Jurgen F. Doreleijers <a href="mailto:jurgenfd@gmail.com">  <img src="{%  static 'iCing/images/icon_email.gif' %}" border="0/"></a>,
Gert Vriend           <a href="mailto:vriend@cmbi.ru.nl">   <img src="{%  static 'iCing/images/icon_email.gif' %}" border="0/"></a>, or
Geerten W. Vuister    <a href="mailto:gv29@leicester.ac.uk"><img src="{%  static 'iCing/images/icon_email.gif' %}" border="0/"></a>
about the iCing project.
</p>
<a href='http://nmr.cmbi.ru.nl/NRG-CING'>iCing</A> resource last updated on {{ cing_update }} (<a href="http://code.google.com/p/cing/source/detail?r=1213">{{ cing_version }}</a>)</p><!-- end footer --></div>

</body>
</html>
