<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry-guids</key>
	<array>
		<string>51DF52CF-093A-4F24-9A5A-C91442EA0014</string>
		<string>1DF45B3C-E1F5-433E-9525-39A14644CE8D</string>
		<string>6D3BA477-528F-4B2C-8645-839A7FE063DE</string>
	</array>
</dict>
</plist>
