#runBox{
    font-family: Courier, sans-serif;
	font-size: 12px;
    color: black;
    min-height: 100px;
    max-height: 400px;
    width: 90%;
    border: #e3e8f3 solid thick;
    border-radius: 5px;
    padding: 2px;
    overflow: auto;
    white-space: pre;
}

.shadow {
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}
