<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cache-file</key>
	<string>web.jpg</string>
	<key>caption</key>
	<string>Project 1brv Smallest protein perhaps.</string>
	<key>image-file</key>
	<string>original.jpg</string>
	<key>metadata</key>
	<dict>
		<key>cached-image-size</key>
		<integer>800</integer>
		<key>display-name</key>
		<string>mol_1</string>
		<key>display-name-is-finalized</key>
		<string>YES</string>
		<key>guid</key>
		<string>1DF45B3C-E1F5-433E-9525-39A14644CE8D</string>
	</dict>
	<key>padding</key>
	<real>0.0</real>
	<key>type</key>
	<string>image</string>
	<key>verticalAlignment</key>
	<real>0.0</real>
</dict>
</plist>
