body,td,a,div,.p{font-family:arial,sans-serif}

div,td{color:#000000; padding: 0; }

a:link,.w,.w a:link {color:#0000cc}

a:visited{color:#551a8b}

a:active{color:#ff0000}  

.BarFrame {
  border: thin solid;
  border-color: darkGray;
  background-color: white;
}

.Bar {
  width: 0px;
  background-color: darkGray;
}

.Message {
  font-size: 8pt;
  color: black;
  width: 100%;
}

.BorderedPanel {
  border-collapse: collapse;
  border: solid thin;
}

.gwtsolutions-LeftAlignFill {
  margin-left: 0;
  width: 100%;  
}

.highlight {
  cursor: pointer;
  background: #cccccc;
}

.gwtsolutions-SimpleWindow-Pointer {
  cursor: pointer;
}

.gwtsolutions-SimpleWindow-seResizeCursor {
   cursor: SE-resize;
}

.gwtsolutions-SimpleWindow-MoveCursor {
  cursor: move;
}

.textCursor {
    cursor: text;
}

.gwtsolutions-Corner {
  width: 8px;
}

.gwtsolutions-ErrorPopup {
   background-color: gray;
}

.gwtsolutions-WindowBar-Title {
  font-size: 10pt;
}

.gwtsolutions-SimpleWindow-content {
  background-color: #c0c0c0;
  height: 100%;
  width: 100%;
}

.gwtsolutions-EasyFlexTable {
  border-top: thin solid #666666;
  border-left: thin solid #666666;
  border-right: thin solid #000000;
  border-bottom: thin solid #000000;
  background-color:  #8080ff;
}

.gwtsolutions-EasyFlexTable-Header {
}

.gwtsolutions-EasyFlexTable-OddRow {
  background-color: #cccccc;
}

.gwtsolutions-EasyFlexTable-EvenRow {
  background-color:  #8080ff;
}


.gwtsolutions-EasyFlexTable-ColumnLabel {
  color: white;
  padding: 3px;
}

.gwtsolutions-EasyFlexTable-ColumnLabelCell {
  color: white;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.gwtsolutions-EasyFlexTable-Cell {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  color: white;
  border-color: white;
  padding: 5px;
}
.gwtsolutions-EasyFlexTable-Cell0 {
  padding: 3px;
/* For cells in column 0. We don't want a border. */
}

.gwtsolutions-EasyFlexTable-ColumnResizeCursor {
   cursor: col-resize;
}

.gwtsolutions-EasyFlexTable-PagerRow {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: white;
  background-color: #cccccc;
}

.gwtsolutions-EasyFlexTable-ResizeCell {
}

.gwtsolutions-EasyFlexTable-Row {
   height: 32px;
   background-color: #ff0000;
}