/*<group=General Styles>*/

body {
	background: #ede8e2;
	margin: 0px 0px 0px 0px;
    text-align: left;
    /*text-align: center; changed to make popup html code align left*/
    color: #000000;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

p { 
}

b, strong {
	font-weight: bold;
}

a:link {
	color: #a3c159;
	text-decoration: none;
}

a:visited {
	color: #a3c159;
	text-decoration: none;
}

a:hover, a:active {
	color: #000000;
}

.image-left {
	margin: 3px;
	padding: 3px;
	float: left;
}

.image-right {
	margin: 3px;
	padding: 3px;
	float: right;
}

a.red:link {
	color: #ff0f00;
/*	font-weight: bold;
	text-decoration: none; */
}

a.red:visited {
	color: #ff0f00;
	font-style: italic;
/*	text-decoration: none; */
}

a.red:hover, a.red:active {
	color: #000000;
}

a.orange:link {
	color: #ff8100;
/*	text-decoration: none; */
}

a.orange:visited {
	color: #ff8100;
	font-style: italic;
	/*	text-decoration: none; */
}

a.orange:hover, a.orange:active {
	color: #000000;
}

a.green:link {
	color: #a3c159;
/*	text-decoration: none; */
}

a.green:visited {
	color: #a3c159;
	font-style: italic;
	/*	text-decoration: none; */
}

a.green:hover, a.green:active {
	color: #000000;
}

/*</group>*/

/*<group=Layout>*/

#red a:link {
	color: #ff0f00;
	text-decoration: none;
}

#red a:visited {
	color: #ff6765;
	text-decoration: none;
}

#red a:hover, a:active {
	color: #000000;
}

#orange a:link {
	color: #ff8100;
	text-decoration: none;
}

#orange a:visited {
	color: #ffaa4e;
	text-decoration: none;
}

#orange a:hover, a:active {
	color: #000000;
}

#green a:link {
	color: #a3c159;
	text-decoration: none;
}

#green a:visited {
	color: #a3c159;
	text-decoration: none;
}

#green a:hover, a:active {
	color: #000000;
}

#container {
	background: #FFFFFF right; /* This Is The BG Color Of The Main Div */
	width: 100%;
/*	margin: 0px auto; /* Right And Left Margin Widths To Auto */
	text-align: left; /* Hack To Keep IE5 Windows Happy */
	color: #3e3e3e;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
/*    border: 1px red solid; */
}

#header {
	width: 100%;
	text-align: left;
	list-style: none;
	height: 111px;
	background: #f0f9f9 url(header_bg.jpg) no-repeat;
/*    border: 1px black solid; */
}

#header img {
	display: inline;
	float: right;
	margin-top: 30px;
	margin-right: 40px;
}

#header h1 {
	color: #0ca0ad;
	margin: 0px;
	font-size: 24px;
	padding: 30px 20px 0px 45px;
}

#header h2 {
	color: #70c2cc;
	margin: 0px;
	font-size: 18px;
	font-weight: normal;
	padding-right: 20px;
	padding-left: 45px;
}

#header a {
	color: #70c2cc;
	margin: 0px;
	font-size: 14px;
	font-weight: normal;
	padding-top:   10px;
	padding-right: 0px;
	padding-left: 45px;
}

#main {
	width: 100%;
/*	float: left;*/
	text-align: left;
/*	padding-top: 10px;
	padding-bottom: 10px;
*/
    padding-left: 0px;
	padding-right: 0px;
/*  border: 1px green solid;*/
}

#main #left {
	line-height: 2.0em;
	float: left;
	width: 49%;
	padding-right: 0px;
	padding-left: 0px;
    border: 1px orange solid;
}

#main #right {
	line-height: 2.0em;
	float: right; 
	width: 49%;
	padding-right: 0px;
	padding-left: 0px;
    border: 1px orange solid;
}

#main h1 {
	color: #0ca0ad;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

#main h2 {
	color: #0ca0ad;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

#main h3 {
	color: #0ca0ad;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 3px;
	padding-right: 5px;
	padding-left: 5px;
}

#main p {
	padding-right: 5px;
	padding-left: 5px;
}

#main table {
	padding-right: 5px;
	padding-left: 5px;
}

#footer {
	width: 100%;
/*	margin: 0px auto; /* Right And Left Margin Widths To Auto */
	text-align: center; /* Hack To Keep IE5 Windows Happy */;
	height: 31px;
/*	background: #ffffff;*/
	background: #f0f9f9;
	color: #000000;
	font-size: 11px;
/*    border: 1px yellow solid;*/
}

#footer p {
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

#footer a {
	color: #a3c159;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: none;
	color: #000000;
}
	
/*</group>*/

/*<group=Global Classes>*/

remark {
	background: #0ca0ad;
	padding: 10px;
	color: #ffffff;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}
.standout {
	background: #0ca0ad;
	padding: 10px;
	color: #ffffff;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}

h1 {
	color: #0ca0ad;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 3px;
}

h2 {
	color: #0ca0ad;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 3px;
}

h3 {
	color: #0ca0ad;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 3px;
}
