<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.jenkins-ci</string>
    <key>Disabled</key>
    <false/>
    <key>UserName</key>
    <string>jd</string>
    <key>GroupName</key>
    <string>jd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/java</string>
        <string>-Xmx512m</string>
        <string>-jar</string>
        <string>/Applications/Jenkins/jenkins.war</string>
        <string>--argumentsRealm.passwd.jurgenfd=XXXXXX</string>
        <string>--argumentsRealm.roles.jurgenfd=admin</string>
        <string>--httpPort=8081</string>
        <string>--httpListenAddress=127.0.0.1</string>
        <string>--ajp13Port=8010</string>
        <string>--prefix=/jenkins</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>JENKINS_HOME</key>
        <string>/Users/jd/.jenkins</string>
    </dict>
</dict>
</plist>
