<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cache-file</key>
	<string>web.jpg</string>
	<key>caption</key>
	<string>Project 1ai0 Complex of 12 chains, 6 ligands, water and zinc.</string>
	<key>image-file</key>
	<string>original.jpg</string>
	<key>metadata</key>
	<dict>
		<key>cached-image-size</key>
		<integer>800</integer>
		<key>display-name</key>
		<string>mol</string>
		<key>display-name-is-finalized</key>
		<string>YES</string>
		<key>guid</key>
		<string>51DF52CF-093A-4F24-9A5A-C91442EA0014</string>
	</dict>
	<key>padding</key>
	<real>0.0</real>
	<key>type</key>
	<string>image</string>
	<key>verticalAlignment</key>
	<real>0.0</real>
</dict>
</plist>
