{% load staticfiles %}

<form target="FormPanel_6" enctype="multipart/form-data" method="post" action="https://nmr.le.ac.uk/icing/icing/serv/iCingServlet">
    <td align="left" style="vertical-align: top;">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td align="left" style="vertical-align: top;">
                        <input type="hidden" name="Action" value="Criteria">
                    </td>
                </tr>
                <tr>
                    <td align="left" style="vertical-align: top;">
                        <input type="hidden" name="AccessKey" value="RCnMtR">
                    </td>
                </tr>
                <tr>
                    <td align="left" style="vertical-align: top;">
                        <input type="hidden" name="UserId" value="ano">
                    </td>
                </tr>
            </tbody>
        </table>
    </td?
</form>