{% load staticfiles %}

<td align="left" style="vertical-align: top;">
    <form target="FormPanel_5" enctype="multipart/form-data" method="post" action="https://nmr.le.ac.uk/icing/icing/serv/iCingServlet">
        <table cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td align="left" style="vertical-align: top;">
                    <input type="hidden" name="Action" value="Purge">
                </td>
            </tr>
            <tr>
                <td align="left" style="vertical-align: top;">
                    <input type="hidden" name="AccessKey" value="RCnMtR">
                </td>
            </tr>
            <tr>
                <td align="left" style="vertical-align: top;">
                    <input type="hidden" name="UserId" value="ano">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</td>