{% extends 'nrg/base.html' %}
{% load staticfiles %}

{% block body_block %}
    </div>

<div id="main">
<H1 id="Help">Tutorials</H1>

<h3 id="NRG_CING">NRG-CING</h3>

<iframe width="560" height="315" src="http://www.youtube.com/embed/Lxyq-RHGkSY?hd=1" frameborder="0" allowfullscreen></iframe>

<h3 id="CING1">CING (part 1)</h3>
<iframe width="560" height="315" src="http://www.youtube.com/embed/qPHY-vMDxyQ?hd=1" frameborder="0" allowfullscreen></iframe>

<h3 id="CING2">CING (part 2)</h3>
<iframe width="560" height="315" src="http://www.youtube.com/embed/Vbq3i2ehdkw?hd=1" frameborder="0" allowfullscreen></iframe>

<h3 id="iCing">iCing</h3>
<iframe width="560" height="315" src="http://www.youtube.com/embed/WsHM5CcpM8Y?hd=1" frameborder="0" allowfullscreen></iframe>

<!-- end main --></div>

{% endblock body_block %}